@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
#app {
  user-select: none;
  display: flex;
  justify-content: center;
  height: 100vh;
  z-index: 0;
  align-items: center;
  font-family: 'Kalam', cursive;
}